<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "hm:sdice"
        versionCode = "10" 
        version     = "1.0.0" >
        
        <icon src="dice_icon.png" width="57" height="57"/>

    <!-- versionCode is optional and Android only -->

    <name>SDICE</name>

    <description>
        Simple Dice!
    </description>

    <author email="hmater@gmail.com">
        Victor Perez G. 
    </author>
    
    <preference name="orientation" value="landscape" />

</widget>
